<main class="main">
  <div class="content">
    <h1>
      {{ title }}
    </h1>
    <small class="subtitle"
      >Hive Streaming - FullStack WebTech Home Assignment
    </small>
    <div class="measurement-container">
      <p>Latest CPU Measurement: {{ latestMeasurement | percent : '1.2-2' }}</p>
      <div class="avg-cpu-text" [ngClass]="{ hide: avgCpuLoad === 0 }">
        <p>Average CPU Usage: {{ avgCpuLoad | percent : '1.2-2' }}</p>
        <small>
          The average CPU load is calculated by measuring the CPU load 4 times
          within a 10 second window.
        </small>
      </div>
    </div>
    <button class="measure-btn" (click)="startMeasurement()">
      {{
        loading
          ? 'Loading...'
          : latestMeasurement
          ? 'Measure CPU Load Again'
          : 'Measure CPU Load'
      }}
    </button>
    <div class="global-measurement-container">
      <h2>Global Measurements</h2>
      <small>This would be intended for an admin user.</small>
      <div class="table-container">
        <table id="global-measurement-table">
          <thead>
            <th (click)="sortTable('avgCpuLoad', getSortOrder('avgCpuLoad'))">
              Average CPU Load
            </th>
            <th
              (click)="
                sortTable(
                  'latestMeasurement',
                  getSortOrder('latestMeasurement')
                )
              ">
              Latest Measurement
            </th>
            <th (click)="sortTable('date', getSortOrder('date'))">
              Date Measured
            </th>
            <th>Client IP Adress</th>
          </thead>
          <tbody>
            <tr *ngFor="let measurement of globalCpuMeasurements">
              <td>{{ measurement.avgCpuLoad | percent : '1.2-2' }}</td>
              <td>{{ measurement.latestMeasurement | percent : '1.2-2' }}</td>
              <td>{{ measurement.date }}</td>
              <td>{{ measurement.ip }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
